<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title> Board_view Page </title>
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">동작 맛집</span>
              </a>
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="http://localhost:5000/main" class="nav-link" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="http://localhost:5000/board" class="nav-link active">board</a></li>
                <li class="nav-item"><a href="http://localhost:5000/info" class="nav-link">맛집</a></li>
                <li class="nav-item"><a href="http://localhost:5000/mypage" class="nav-link">mypage</a></li>
                <button type = "submit" onclick ="window.location = 'http://localhost:5000/logout'">logout</button>
              </ul>
            </header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
        <h2>제목 : {{board_info[1]}}</h2> <br>
        <p><strong>글쓴이 </strong></strong>: {{board_info[2]}} <strong>작성 일자 </strong>: {{board_info[3]}} <strong>조회수 </strong> : {{board_info[4]}}</p><br>
        <p>{{board_info[5]}}</p>
        
        <a href="http://localhost:5000/board" class="btn btn-primary">게시판으로</a>
    </body>
    <div class = "container">
</div>
</html>
